h1 {
    text-align: center;
}
.text {
    font-size: 26px; 
    margin: 30px;
}
.top-row {
    text-align: center;
    font-size: 24px;
    margin-top: 10px;
    
}
.row-count {
    text-align: center;
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 20px;
}
  .mangtren{
    width: 50px;
    margin: 5px;
    
}
.header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.container {
    display: flex;
}

.left {
    width: 50%;
    padding: 20px;
}

.right {
    
    width: 60%;
    height: 60%;


}   
.sub-right {
    margin: 30px;
    width: 700px;
    height: 530px;
    padding: 1px;
    
    overflow: auto;

}  
.sub-right1 {
    margin: 30px;
    width: 700px;
    height: 250px;
    padding: 1px;
    
    

}  
.sub-right2 {
    margin: 30px;
    width: 700px;
    height: 50px;
}  
.left .row {
    display: flex;
    flex-wrap: wrap;
}

.left .row .box {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
}

.sub-right .row {
    display: flex;
}

.right .large-box {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
}

.right .small-box {
    width: 50%;
    padding: 10px;
   
}
 .mangtren{
    display: flex ;
    width: 50%;
}
.rowtren{
    flex-wrap: nowrap;
}
.margintong{
    margin: 10px;
}

#olon{
width: 100%; 
height: 500px; 
overflow: auto;
}
#olon .pvtRenderer {
width: 70%;
}
#olon .pvtRendererArea{
width: 80%;
}
.pvtTable {
width: 100%;
height: 100%;
}
.pvtRows {
width: 50px;
}

#on1 {
width: 80%;
}
#olon table {
font-size: 16px; 
line-height: 1.5; 
padding: 10px; 
margin: 0;
}
.pvtAggregator{
    width: 90px;
}
.pvtAxisContainer pvtUnused pvtUiCell pvtVertList {
    width: 0px;
}
.o4{
    width: 670px; 
    height: 150px; 
    
}
.person {
    display: flex;
    align-items: center;
    
    margin-bottom: 5px;
  }
  
  .person-info {
    display: flex;
    flex-direction: column;
    text-align: right;
  }
  
  .color-box {
    width: 20px;
    height: 20px;
    border: 2px solid black;
    margin-right: 10px;
  }
  
  .female {
    background-color: #FFD966;
  }
  
  .male {
    background-color: #6096B4;
  }
  
  .gender-label {
    font-size: 16px;
  }
  
  .additional-info {
    font-size: 14px;
    color: gray;
  }

  .tooltip {
    position: absolute;
}
  