/* CSS file */

/* Header */
.header {
    background-color: rgb(18 35 158);
    color: white;
    padding: 20px;
    text-align: center;
    font-family: "Segoe UI", wf_segoe-ui_normal, helvetica, arial, sans-serif;
    border-radius: 15px;
    border-radius: 15px;
    font-size: large;
}

/* Container */
.container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* This will make the container take up the full height of the viewport */
}

/* First part (60%) */
.container .left {
    flex: 0.5; /* This will make the first part take up 60% of the container's height */
    display: flex; /* This will make the first part's children lay out in a row */
}

/* First part's children */
.container .left .row {
    flex: 1; /* This will make the first part's children each take up an equal amount of space */
    display: flex; /* This will make the row's children lay out in a row */
}

.container .left .row .box {
    flex: 1; /* This will make the boxes each take up an equal amount of space */
}
/* Second part (40%) */
.container .right {
    flex: 0.5; /* This will make the second part take up 40% of the container's height */
    display: flex; /* This will make the second part's children lay out in a row */
}

.container .right #o3 {
    width: 45% ; /* This will make the #o3 take up less space */

}

.container .right #o4 {
  
    height: 100%; /* This will make the #o4 take up more space */
}

/* Content boxes */
.box, .large-box, .small-box, .half-box {
    border: 1px solid #ccc;
    padding: 10px;
}
.left .row .box {
    width: 100%;
    padding: 0px;
    border: 1px solid #312222;
    border-radius: 5px;
}
.box {
    border: 1px solid #312222;
    border-radius: 10px; 
}
.tooltip {
    position: absolute;
    text-align: center;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}
table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th
  {
    background-color: rgb(18 35 158); /* Header background color */
    color: white; /* Header text color */
    font-size: 20px;
    text-align: left;
    padding: 5px;
    border-bottom: 1px solid #ddd;
  }
  td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }
  
  tr:nth-child(even) {background-color: #f2f2f2;}

/* Sorting buttons */
button.sort-asc, button.sort-desc {
    border: none;
    color: black;
    padding: 3px;
    text-align: center;
    text-decoration: none;
    font-size: 8px;
    margin: 3px 3px;
    cursor: pointer;
}
 #o4 {
    padding: 0;
    margin: 0;
    width: 205% ;
  }
.table-title {
    text-align: center;
    font-family: "Segoe UI", wf_segoe-ui_normal, helvetica, arial, sans-serif;
}
/* Content boxes */
/* Content boxes */
.box, #o3, #o4 {
    border: 1px solid #312222; /* Increase border width and change color */
    padding: 10px;
    border-radius: 10px; 
}


