/* Header */
#panel4_header { /* Updated ID */
    background-color: rgb(18, 35, 158);
    color: white;
    padding: 20px;
    text-align: center;
    font-family: "Segoe UI", wf_segoe-ui_normal, helvetica, arial, sans-serif;
    border-radius: 15px;
    font-size: large;
}

/* Container */
#panel4_container { /* Updated ID */
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* First part (60%) */
#panel4_left { /* Updated ID */
    flex: 0.5;
    display: flex;
}

/* First part's children */
#panel4_left .row { /* Updated class name */
    flex: 1;
    display: flex;
}

#panel4_left .row .box { /* Updated class name */
    flex: 1;
}

/* Second part (40%) */
#panel4_right { /* Updated ID */
    flex: 0.5;
    display: flex;
}

#panel4_right #o3 { /* Updated ID */
    width: 45%;
}

#panel4_right #o4 { /* Updated ID */
    height: 100%;
}

/* Content boxes */
.box, .large-box, .small-box, .half-box {
    border: 1px solid #ccc;
    padding: 10px;
}

#panel4_left .row .box { /* Updated class name */
    width: 100%;
    padding: 0px;
    border: 1px solid #312222;
    border-radius: 5px;
}

.box {
    border: 1px solid #312222;
    border-radius: 10px;
}

.tooltip {
    position: absolute;
    text-align: center;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    background-color: rgb(18, 35, 158);
    color: white;
    font-size: 20px;
    text-align: left;
    padding: 5px;
    border-bottom: 1px solid #ddd;
}

td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Sorting buttons */
button.sort-asc,
button.sort-desc {
    border: none;
    color: black;
    padding: 3px;
    text-align: center;
    text-decoration: none;
    font-size: 8px;
    margin: 3px 3px;
    cursor: pointer;
}

#panel4_o4 { /* Updated ID */
    padding: 0;
    margin: 0;
    width: 205%;
}
