/*HEADER*/
body {

    background: white;
}

.header {
    background-color: #12239EFF;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    font-size: large;
}

.container {
    display: flex;
    padding: 20px;
}

/*LAYOUT SETTING*/
#left {
    width: 50%;
    height: 100%;
    padding-right: 20px;
}

#right {
    width: 50%;
    height: 100%;
}

.area {
    display: block;
    border: 1px solid black;
    border-radius: 5px;
}

/*CHART SETTING*/
.chart-axis {
    font-size: 14px;
}

h2 {
    text-align: center;
    margin: auto;
    padding: 10px;
    overflow: inherit;
}

/*LEFT*/
/*TOTAL AND GENDER*/
#totalDisplay {
    min-height: fit-content;
    max-height: 10%;
    /* overflow: auto; */
}

/*STACK-PLOT*/
#stack-plot {
    min-height: fit-content;
    max-height: 50%;
    text-align: left;
    padding: 10px;
    /* overflow: scroll; */
}

.tooltip {
    position: absolute;
}

/*TABLE*/
#avgTable {
    min-height: fit-content;
    max-height: 40%;
    padding: 14px;
    /* overflow: scroll; */
}
#avgTable table {
    border-collapse: collapse;
}
#avgTable th td {
    padding: 5px 10px;;
}
#avgTable th {
    background: #12239e;
    color: white;
    font-weight: bold;
    min-width: 10%;
}
#avgTable tbody tr:nth-child(even) {
    background: whitesmoke;
}
#avgTable tbody tr:nth-child(odd) {
    background-color: white;
}
#avgTable tbody tr:hover {
    background-color: lightgrey;
}

/*RIGHT*/
/*BAR-PLOT*/
#bar-plot {
    min-height: fit-content;
    max-height: 60%;
    /* overflow: scroll; */
    padding: 10px;
}

/*CONCLUSION*/
#conclusion {
    min-height: fit-content;
    max-height: 40%;
    font-size: 14px;
    padding: 10px;
    overflow: auto;
}

#conclusion p {
    text-align: left;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
}



.area,
.area h2 {
overflow: clip;
    overflow: hidden;
}
