body {
    font-family: "Segoe UI", serif;
    background: whitesmoke;
}

/*HEADER*/
.header {
    background-color: brown;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    font-size: large;
}
.container {
    display: flex;
    overflow: auto;
}

/*LEFT-SIDE*/
.left {
    width: 50%;
    padding: 20px;
}
.left.area {
    display: flex;
    box-sizing: border-box; /* include padding in both width,height */
    flex-wrap: wrap;
}
    /*TOTAL AND GENDER*/
#total-gender {
    height: 10%;
    display: flex;
    flex-wrap: nowrap;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid #312222;
    border-radius: 5px;
}
#total-gender #totalDisplay {
    width: 50%;
    text-align: left;
    margin: auto
}
#total-gender #genderSelection {
    width: 50%;
    text-align: left;
    margin: auto;
}

/*STACK-PLOT*/
#stack-plot {
    height: 50%;
    border: 1px solid #312222;
    border-radius: 5px;
    text-align: left;
    padding: 10px;
    overflow: auto;
}
#stack-plot .diagram {
    margin: auto;
}
#stack-plot .chart-axis {
    font-size: 15px;
    font-family: "Segoe UI", serif;
}

    /*TABLE*/
#avgTable {
    height: 40%;
    text-align: left;
    padding: 10px;
    font-family: "Segoe UI", serif;
    font-size: 20px;
    overflow: scroll;
    border: 1px solid #312222;
    border-radius: 5px;
}
#avgTable th {
    background: #12239e;
    color: white;
    padding: 5px 10px;
    min-width: 10%;
}
#avgTable tbody tr:nth-child(even) {
    background: whitesmoke;
}
#avgTable tbody tr:nth-child(odd) {
    background-color: white;
}
#avgTable tbody tr:hover {
    background-color: lightgrey;
}
#avgTable td {
    padding: 5px 10px;
}

/*RIGHT-SIDE*/
.right {
    width: 50%;
    padding: 20px;
}
.right.area {
    display: flex;
    padding: 10px;
    box-sizing: border-box; /* include padding in both width,height */
}

    /*BAR-PLOT*/
#bar-plot {
    height: 60%;
    overflow: scroll;
    padding: 10px;
    border: 1px solid #312222;
    border-radius: 5px;
}
#bar-plot .chart-axis {
    font-size: 15px;
    font-family: "Segoe UI", serif;
}
#bar-plot .diagram {
    display: block;
    margin: auto;
}

    /*CONCLUSION*/
#conclusion {
    height: 40%;
    font-size: 25px;
    padding: 10px;
    border: 1px solid #312222;
    border-radius: 5px;
}