h1 {
    text-align: center;
}

#panel2_row-count {
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
}

.header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.panel2_container {
    display: flex;
}

.panel2_left {
    width: 40%;
    padding: 20px;
}

.panel2_right {
    width: 60%;
    padding: 20px;
}   

.panel2_left .panel2_row {
    display: flex;
    flex-wrap: wrap;
}

.panel2_left .panel2_box {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
}

.panel2_right .panel2_row {
    display: flex;
}

.panel2_right .panel2_large-box {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
}

.panel2_right .panel2_small-box {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
}

.panel2_mangtren {
    display: flex;
    width: 50%;
}

#panel2_rowtren {
    flex-wrap: nowrap;
}

.panel2_margintong {
    margin: 10px;
}

#panel2_o1, #panel2_o2 {

}

#panel2_olon {
    width: 100%; 
    height: 500px; 
    overflow: auto;
}

#panel2_olon .pvtRenderer {
    width: 70%;
}

#panel2_olon .pvtRendererArea {
    width: 80%;
}

.pvtTable {
    width: 100%;
    height: 100%;
}

.pvtRows {
    width: 50px;
}

#panel2_on1 {
    width: 80%;
}

#panel2_olon table {
    font-size: 16px; 
    line-height: 1.5; 
    padding: 10px; 
    margin: 0;
}

.pvtAggregator {
    width: 90px;
}

.pvtAxisContainer .pvtUnused .pvtUiCell .pvtVertList {
    width: 0px;
}

#panel2_o4 {
    width: 100%; 
    height: 150px; 
    overflow: auto;
}
